<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excelmultiexportprogress.dao.TravelMapper">


    <select id="getTravelList" resultType="com.example.excelmultiexportprogress.excelExportFrameworkImpl.TravelExpenseExtraInfo">
        select tt.serial_number,tt.user_name,tt.depart_name,tt.project_name,
               tt.project_code,tt.remarks,tt.occur_time,tt.amount
        from td_travel tt
        where tt.id > #{offset}
        limit #{pageSize}
    </select>

    <select id="getTravelListCount" resultType="java.lang.Long">
        select count(1)
        from td_travel tt
    </select>
</mapper>
